{% extends "base.html" %}
{% block contenido %}
	

{% for entrada in entradas.object_list  %}
		<article>
			<h3><a href="{% url "apps.Appblog.views.entrada" entrada.pk %}"><h3>{{entrada.titulo}}</h3></a>
			<time>{{entrada.fecha}}</time>
			<p>{{entrada.contenido}}</p>
		</article>
{% endfor %}
<nav>
	{% if entradas.has_previous %}
			<a href="?page={{entradas.previous_page_number}}">Pagina Anterior</a>
	{% endif %}

	<p>Pagina {{entradas.number}} de {{entradas.paginator.num_pages}}</p>

	{% if entradas.has_next %}
		<a href="?page= {{entradas.next_page_number}}">Pagina Siguiente</a>
	{% endif %}
</nav>
{% endblock contenido %}

	
